
<div class="header"></div>
<div class="main-container">
    <div class="text-sm text-gray-400">
        <p><a href=".">Homepage</a> / <a href="#" class="dark:text-white">Search results</a></p>
    </div>
    <div class="title-grid">
        <div>
            <h2 class="title-category mb-4">Search results</h2>
        </div>
        <div class="view-selector">
            <div class="grid-view" >
                <svg fill="indigo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="m-auto"><path fill="none" d="M0 0h24v24H0z"/><path d="M21 3a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h18zM11 13H4v6h7v-6zm9 0h-7v6h7v-6zm-9-8H4v6h7V5zm9 0h-7v6h7V5z"/></svg>
                <p class="grid-view-text">Grid view</p>
            </div>
            <div class="list-view" onclick="window.location.href='search.html'">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="white" class="m-auto hidden invisible dark:visible dark:block"><path fill="none" d="M0 0h24v24H0z"/><path d="M8 4h13v2H8V4zM4.5 6.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0 7a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0 6.9a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zM8 11h13v2H8v-2zm0 7h13v2H8v-2z"/></svg>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="m-auto dark:hidden dark:invisible"><path fill="none" d="M0 0h24v24H0z"/><path d="M8 4h13v2H8V4zM4.5 6.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0 7a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0 6.9a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zM8 11h13v2H8v-2zm0 7h13v2H8v-2z"/></svg>
                <p class="invisible sm:mr-0 lg:visible mb-2 lg:mb-0 ml-1 lg:mr-4">List view</p>
            </div>
            <div class="product-counter">
                <p class="products-numbers">117</p>
                <p class="products-numbers-text">Products</p>
            </div>
        </div>
    </div>
    <div class="products_panel">
            <div class="subcategories-panel">
                <div class="price-selector-panel">
                    <div>
                        <h3 class="minmax-title">Minimum price</h3>
                        <div class="w-full">
                            <input type="range" min="1" max="1000" value="0" class="price-range" id="myRange">
                        </div>
                    </div>
                    <div>
                        <h3 class="minmax-title">Maximum price</h3>
                        <div>
                            <input type="range" min="1" max="1000" value="1000" class="price-range" id="myRange">
                        </div>
                    </div>
                    <div class="minmax-boxes-panel">
                        <div class="minmax-box">
                            <p class="minmax-text">Min</p>
                            <input type="text" placeholder="0" class="minmax-input">
                        </div>
                        <div class="flex flex-col w-1/3">
                            <p class="minmax-text">Max</p>
                            <input type="text" placeholder="1000" class="minmax-input">
                        </div>
                    </div>
                    <div class="price-selector-buttons-panel">
                        <button class="apply-button">
                            <div class="flex flex-row justify-around">
                                <p>Apply</p>
                            </div>
                        </button>
                        <button class="reset-button">
                            <div class="flex flex-row justify-around">
                                <p>Reset</p>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Product entries -->
            <div class="product-entries-panel"></div>
        </div>
        <!-- End of product entries -->
    </div>
    <div class="flex flex-row justify-between mt-12 mx-6">
        <div class="buy-container w-1/12 items-center">
            <p class="text-sm text-gray-400">Page:</p>
            <a href="">1</a>
            <a href="">2</a>
            <a href="" class="text-indigo-600 dark:text-purple-400">3</a>
            <a href="">4</a>
        </div>
        <div>
            <button class="px-2 py-2 rounded-lg text-white bg-indigo-600 border-black border-2 font-bold">
                <div class="flex flex-row justify-around">
                    <p>Show more products</p>
                    <svg fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 15l-4.243-4.243 1.415-1.414L12 12.172l2.828-2.829 1.415 1.414z"/></svg>
                </div>
            </button>
        </div>
        <div class="flex flex-row justify-center items-center">
            <p class="rounded-lg bg-gray-200 flex flex-col justify-center px-2 text-indigo-600 font-medium ">48</p>
            <p class="text-gray-400 ml-2">Products</p>
        </div>
    </div>
</div>
<div class="footer"></div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(function() {
        $(".header").load("header.html", function() {
          loadNavBarContents();
          loadSideBarContents();
        });
        $(".footer").load("footer.html")
    })
</script>

