<div class="header"></div>
<div class="search-panel">
    <div class="search-panel-breadcrumbs-navigation">
        <p><a href=".">Homepage</a> / <a href="#" class="search-panel-breadcrumbs-navigation-text ">Search results</a></p>
    </div>
    <div class="search-panel-head-grid">
        <div>
            <h2 class="search-panel-head-grid-title">Search results</h2>
        </div>
        <div class="search-panel-head-grid-items">
            <div class="search-panel-head-grid-items-view" onclick="window.location.href='search_grid.html'">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="white" class="m-auto hidden invisible dark:visible dark:block "><path fill="none" d="M0 0h24v24H0z"/><path d="M21 3a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h18zM11 13H4v6h7v-6zm9 0h-7v6h7v-6zm-9-8H4v6h7V5zm9 0h-7v6h7V5z"/></svg>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="m-auto dark:hidden dark:invisible "><path fill="none" d="M0 0h24v24H0z"/><path d="M21 3a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h18zM11 13H4v6h7v-6zm9 0h-7v6h7v-6zm-9-8H4v6h7V5zm9 0h-7v6h7V5z"/></svg>
                <p class="search-panel-head-grid-items-viewtext">Grid view</p>
            </div>
            <div class="search-panel-head-grid-items-view text-indigo-600 m-auto">
                <svg fill="indigo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="m-auto"><path fill="none" d="M0 0h24v24H0z"/><path d="M8 4h13v2H8V4zM4.5 6.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0 7a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0 6.9a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zM8 11h13v2H8v-2zm0 7h13v2H8v-2z"/></svg>
                <p class="search-panel-head-grid-items-viewtext dark:text-purple-400">List view</p>
            </div>
            <div class="search-panel-head-grid-items-products">
                <p class="search-panel-head-grid-items-products-number">117</p>
                <p class="search-panel-head-grid-items-viewtext">Products</p>
            </div>
        </div>
    </div>
    <div class="search-panel-result-panel">
        <div class="search-panel-result-panel-prices-panel">
            <div class="search-panel-result-panel-prices-panel-subpanel">
                <div>
                    <h3 class="search-panel-result-panel-prices-panel-subpanel-title">Minimum price</h3>
                    <div class="w-full">
                        <input type="range" min="1" max="1000" value="0" class="w-full cursor-pointer" id="myRange">
                    </div>
                </div>
                <div>
                    <h3 class="search-panel-result-panel-prices-panel-subpanel-title">Maximum price</h3>
                    <div>
                        <input type="range" min="1" max="1000" value="1000" class="w-full cursor-pointer" id="myRange">
                    </div>
                </div>
                <div class="search-panel-result-panel-prices-panel-subpanel-minmax-panel">
                    <div class="search-panel-result-panel-prices-panel-subpanel-minmax-panel-min">
                        <p class="search-panel-result-panel-prices-panel-subpanel-minmax-panel-text">Min</p>
                        <input type="text" placeholder="0" class="search-panel-result-panel-prices-panel-subpanel-minmax-panel-input">
                    </div>
                    <div class="search-panel-result-panel-prices-panel-subpanel-minmax-panel-max">
                        <p class="search-panel-result-panel-prices-panel-subpanel-minmax-panel-text">Max</p>
                        <input type="text" placeholder="1000" class="search-panel-result-panel-prices-panel-subpanel-minmax-panel-input">
                    </div>
                </div>
                <div class="search-panel-result-panel-prices-panel-subpanel-buttons">
                    <button class="search-panel-result-panel-prices-panel-subpanel-buttons-apply">
                        <div class="search-panel-result-panel-prices-panel-subpanel-buttons-text">
                            <p>Apply</p>
                        </div>
                    </button>
                    <button class="search-panel-result-panel-prices-panel-subpanel-buttons-reset">
                        <div class="search-panel-result-panel-prices-panel-subpanel-buttons-text">
                            <p>Reset</p>
                        </div>
                    </button>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <!-- Product entries -->
        <div class="search-panel-result-panel-products-panel mr-4"></div>
        <!-- End of product entries -->
    </div>
    <div class="flex flex-row justify-between">
        <div class="flex flex-row justify-between w-1/12 items-center">
            <p class="text-sm text-gray-400">Page:</p>
            <a href="">1</a>
            <a href="">2</a>
            <a href="" class="text-indigo-600 dark:text-purple-400">3</a>
            <a href="">4</a>
        </div>
        <div>
            <button class="search-panel-result-panel-products-panel-productentry-panel-rightside-panel-shippingbuttons-panel-apply">
                <div class="search-panel-result-panel-products-panel-productentry-panel-rightside-panel-shippingbuttons-panel-applytext">
                    <p>Show more products</p>
                    <svg fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 15l-4.243-4.243 1.415-1.414L12 12.172l2.828-2.829 1.415 1.414z"/></svg>
                </div>
            </button>
        </div>
        <div class="flex flex-row justify-center items-center">
            <p class="rounded-lg bg-gray-200 flex flex-col justify-center px-2 text-indigo-600 font-medium ">48</p>
            <p class="text-gray-400 ml-2">Products</p>
        </div>
    </div>
</div>
<div class="footer"></div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(function() {
        $(".header").load("header.html", function() {
          loadNavBarContents();
          loadSideBarContents();
        });
        $(".footer").load("footer.html")
    })
</script>