<article class="dark:text-black">
  <div class="px-8 pt-5 pb-3 bg-white dark:bg-gray-900">
    <div class="text-sm text-gray-400">
      <a href=".">Homepage</a> / <a href="#" class="dark:text-white">About us</a>
    </div>
  </div>
  <div class="container-head">
    <div class="text-center titulo-article">Meet our team</div>
    <div class="text-center subtitulo-article">
      A team of 4 seasoned professionals
    </div>
  </div>
  <div class="container-cards">
    <!-- 1.Equipo -->
    <div class="article-card">
      <div class="container-text-card">
        <div class="text-card-titulo">Who we are</div>
        <div class="text-card-subtitulo">
          A smart team behind a smart product
        </div>
        <div class="text-card-cuerpo">
          OwO What the U W U did you just say about me (✿ヘᴥヘ) nyaaaa~ , you
          wittle (人◕ω◕) I'll have you know I gwaduated top of my cwass (◕‿◕✿) ,
          and I've been involved in numewous hugging on evewyone! (◕ᴥ◕),
          senpai-san. I liwwe chocowwat! UwU
        </div>
      </div>
      <div class="container-text-image">
        <img loading="lazy" src="./Images/AboutUs/AboutUs_Equipo.png" alt="Team Pixel Art" />
      </div>
    </div>
    <!-- 2. Aitor -->
    <div class="article-card">
      <div class="container-text-card">
        <div class="text-card-titulo">Aitor</div>
        <div class="text-card-subtitulo">
          Ex Microsoft Dev & Community Manager
        </div>
        <div class="text-card-cuerpo">Still using Internet Explorer.</div>
      </div>
      <div class="container-text-image">
        <img loading="lazy" src="./Images/AboutUs/PixelArt_Aitor.png" alt="Aitor Pixel Art" />
      </div>
    </div>
    <!-- 3. Antonio -->
    <div class="article-card-inverted">
      <div class="container-text-card">
        <div class="text-card-titulo">Antonio</div>
        <div class="text-card-subtitulo">清晨的櫻花</div>
        <div class="text-card-cuerpo">
          痛苦本身可能是很多痛苦，但主要的原因是痛苦，
          但我給它時間像一些巨大的痛苦和痛苦一樣陷入其中。
          為了讓最少的人到來，除了利用其中的目標來實現之外， 我們還能做什麼呢？
        </div>
      </div>
      <div class="container-text-image">
        <img loading="lazy" src="./Images/AboutUs/PixelArt_Antonio.png" alt="Antonio Pixel Art" />
      </div>
    </div>
    <!-- 4. Ale -->
    <div class="article-card">
      <div class="container-text-card">
        <div class="text-card-titulo">Alejandro</div>
        <div class="text-card-subtitulo">Your majesty’s personal choffeur</div>
        <div class="text-card-cuerpo">Author of Lorem ipsum</div>
      </div>
      <div class="container-text-image">
        <img loading="lazy" src="./Images/AboutUs/PixelArt_Alejandro.png" alt="Alejandro Pixel Art" />
      </div>
    </div>
    <!-- 5. Alexandru -->
    <div class="article-card-inverted">
      <div class="container-text-card">
        <div class="text-card-titulo">Alexandru</div>
        <div class="text-card-subtitulo">
          HTML Vue senior dev. Still on 1ºESO
        </div>
        <div class="text-card-cuerpo">
          (Nobody’s) Team Leader (but don’t tell this to his mom). Sometimes
          Mister Comedy. Want to join my team?
        </div>
      </div>
      <div class="container-text-image">
        <img loading="lazy" src="./Images/AboutUs/PixelArt_Alexandru.png" alt="Alexandru Pixel Art" />
      </div>
    </div>

    <!-- ------------------------ Mobile ------------------------------ -->
    <div class="mobile-cards-container">
      <!-- 2. Aitor -->
      <div class="mobile-article-card">
        <div class="mobile-container-text-card">
          <div class="mobile-text-card-titulo">Aitor</div>
          <div class="mobile-text-card-subtitulo">
            Ex Microsoft Dev & Community Manager
          </div>
          <div class="mobile-text-card-cuerpo">Still using Internet Explorer.</div>
        </div>
        <div class="pt-3.7 mobile-container-text-image">
          <img loading="lazy" src="./Images/AboutUs/PixelArt_Aitor.png" alt="Aitor Pixel Art" />
        </div>
      </div>

      <!-- 3. Antonio -->
      <div class="mobile-article-card">
        <div class="mobile-container-text-card">
          <div class="mobile-text-card-titulo">Antonio</div>
          <div class="mobile-text-card-subtitulo">清晨的櫻花</div>
          <div class="mobile-text-card-cuerpo">
            痛苦本身可能是很多痛苦，但主要的原因是痛苦，
            但我給它時間像一些巨大的痛苦和痛苦一樣陷入其中。
            為了讓最少的人到來，除了利用其中的目標來實現之外， 我們還能做什麼呢？
          </div>
        </div>
        <div class="mobile-container-text-image">
          <img loading="lazy" src="./Images/AboutUs/PixelArt_Antonio.png" alt="Antonio Pixel Art" />
        </div>
      </div>

      <!-- 4. Ale -->
      <div class="mobile-article-card">
        <div class="mobile-container-text-card">
          <div class="mobile-text-card-titulo">Alejandro</div>
          <div class="mobile-text-card-subtitulo">Your majesty’s personal choffeur</div>
          <div class="mobile-text-card-cuerpo">Author of Lorem ipsum</div>
        </div>
        <div class="mobile-container-text-image">
          <img loading="lazy" src="./Images/AboutUs/PixelArt_Alejandro.png" alt="Alejandro Pixel Art" />
        </div>
      </div>
      <!-- 5. Alexandru -->
      <div class="mobile-article-card">
        <div class="mobile-container-text-card">
          <div class="mobile-text-card-titulo">Alexandru</div>
          <div class="mobile-text-card-subtitulo">
            HTML Vue senior dev. Still on 1ºESO
          </div>
          <div class="mobile-text-card-cuerpo">
            (Nobody’s) Team Leader (but don’t tell this to his mom). Sometimes
            Mister Comedy. Want to join my team?
          </div>
        </div>
        <div class="mobile-container-text-image">
          <img loading="lazy" src="./Images/AboutUs/PixelArt_Alexandru.png" alt="Alexandru Pixel Art" />
        </div>
      </div>
    </div>
  </div>
</article>