<article>
  <div class="px-8 pt-5 pb-3 bg-white dark:bg-gray-900">
    <div class="text-sm text-gray-400">
      <a href=".">Homepage</a> / <a href="#" class="dark:text-white">Our careers</a>
    </div>
  </div>
  <div class="container-head dark:text-black">
    <div class="centro titulo-article">Our Careers</div>
    <div class="centro subtitulo-article">Be one of us</div>
    <div></div>
  </div>
  <div class="container-cards dark:text-black">
    <!-- 1. Gragas -->
    <div class="article-card">
      <div class="container-text-card">
        <div class="text-card-titulo">Lol Pro Player</div>
        <div class="text-card-subtitulo">LF Gragas Main # No drinking</div>
        <div class="text-card-cuerpo">
          Equal parts jolly and imposing, Gragas is a massive, rowdy brewmaster
          on his own quest for the perfect pint of ale. Hailing from parts
          unknown, he now searches for rare ingredients among the unblemished
          wastes of the Freljord, trying each recipe as he goes.
        </div>
      </div>
      <div class="container-text-image">
        <img loading="lazy" src="./Images/Careers/gragas.gif" alt="Lol Professional Player GIF" />
      </div>
    </div>

    <!-- 2. Sopa miso -->
    <div class="article-card-inverted">
      <div class="container-text-card">
        <div class="text-card-titulo">Miso Soup Catador</div>
        <div class="text-card-subtitulo">Boniatos al curry uwu</div>
        <div class="text-card-cuerpo">
          Me gustan the noodles. Especialmente el código espagueti que se viene
          pronto ;)
        </div>
      </div>
      <div class="container-text-image">
        <img loading="lazy" src="./Images/Careers/Arroz.png" alt="Spaghetti Image" />
      </div>
    </div>
    <!-- 4. Ale -->
    <div class="article-card">
      <!-- contenedor texto -->
      <div class="container-text-card">
        <div class="text-card-titulo">SHAE-123 Cipher</div>
        <div class="text-card-subtitulo">????????????</div>
        <div class="text-card-cuerpo">
          !!!?!¿·@@2e4d~~~~191203’¿¿...----xxxx___a19249100x’eee¡¿???¡~~~##11||!!9x0//-__´´çç`++
        </div>
      </div>
      <div class="container-text-image">
        <img loading="lazy" src="./Images/Careers/ensamblador.png" alt="Assembler Image" />
      </div>
    </div>
    <!-- 5. Alexandru -->
    <div class="article-card-inverted">
      <div class="container-text-card">
        <div class="text-card-titulo">Internet Creeper</div>
        <div class="text-card-subtitulo">Average minecraft youtuber</div>
        <div class="text-card-cuerpo">Texto de ejemplo</div>
      </div>
      <div class="container-text-image justify-center">
        <img loading="lazy" src="./Images/Careers/Creeper.png" alt="Minecraft Creeper Image" />
      </div>
    </div>

    <!-- ------------------------ Mobile ------------------------------- -->
    <div class="mobile-cards-container dark:text-black">
      <!-- 1. Gragas -->
      <div class="mobile-article-card">
        <div class="mobile-container-text-card">
          <div class="mobile-text-card-titulo">Lol Pro Player</div>
          <div class="mobile-text-card-subtitulo">LF Gragas Main #Nodrinking</div>
          <div class="mobile-text-card-cuerpo">
            Equal parts jolly and imposing, Gragas is a massive, rowdy brewmaster
            on his own quest for the perfect pint of ale. Hailing from parts
            unknown, he now searches for rare ingredients among the unblemished
            wastes of the Freljord, trying each recipe as he goes.
          </div>
        </div>
        <div class="mobile-container-text-image">
          <img loading="lazy" src="./Images/Careers/gragas.gif" class="w-full h-full" alt="Lol Professional Player GIF" />
        </div>
      </div>

      <!-- 2. Sopa miso -->
      <div class="mobile-article-card">
        <div class="mobile-container-text-card">
          <div class="mobile-text-card-titulo">Miso Soup Catador</div>
          <div class="mobile-text-card-subtitulo">Boniatos al curry uwu</div>
          <div class="mobile-text-card-cuerpo">
            Me gustan the noodles. Especialmente el código espagueti que se viene
            pronto ;)
          </div>
        </div>
        <div class="mobile-container-text-image">
          <img loading="lazy" src="./Images/Careers/Arroz.png" alt="Spaghetti Image" />
        </div>
      </div>
      <!-- 4. Ale -->
      <div class="mobile-article-card">
        <!-- contenedor texto -->
        <div class="mobile-container-text-card">
          <div class="mobile-text-card-titulo">SHAE-123 Cipher</div>
          <div class="mobile-text-card-subtitulo">????????????</div>
          <div class="mobile-text-card-cuerpo">
            !!!?!¿·@@2e4d~~~~191203’¿¿...----xxxx___a19249100x’eee¡¿???¡~~~##11||!!9x0//-__´´çç`++
          </div>
        </div>
        <div class="mobile-container-text-image">
          <img loading="lazy" src="./Images/Careers/ensamblador.png" alt="Assembler Image" />
        </div>
      </div>
      <!-- 5. Alexandru -->
      <div class="mobile-article-card">
        <div class="mobile-container-text-card">
          <div class="mobile-text-card-titulo">Internet Creeper</div>
          <div class="mobile-text-card-subtitulo">Average minecraft youtuber</div>
          <div class="mobile-text-card-cuerpo">Texto de ejemplo</div>
        </div>
        <div class="mobile-container-text-image">
          <img loading="lazy" src="./Images/Careers/Creeper.png" class="pt-4 max-h-full" alt="Minecraft Creeper Image" />
        </div>
      </div>
    </div>
  </div>
</article>