<footer class="footer footer-container">
    <div class="footer-element">
        <div>
            <span class="font-bold">Get in touch</span>
            <div id="links" class="element-content">
                <a href="article-about-us.html" class="content-text">About Us</a>
                <a href="article-careers.html" class="content-text">Careers</a>
            </div>
        </div>
    </div>
    <div class="footer-element">
        <div>
        <span class="font-bold">Connections</span>
        <div id="links" class="element-content">
            <a href="https://twitter.com/BabiesGtwo" class="content-text">
            Twitter
            </a>
            <a href="https://www.instagram.com/g2babies/" class="content-text">
            Instagram
            </a>
            <a href="https://www.youtube.com/channel/UCoEn7cXetkKXibm5d55tPbw" class="content-text">
            Youtube 
            </a>
        </div>
        </div>
    </div>
    <div class="footer-element">
        <div>
            <span class="font-bold">Earnings</span>
            <div id="links" class="element-content">
                <a href="#" class="content-text">Become an Affiliate</a>
                <a href="#" class="content-text">Advertise your product</a>
                <a href="#" class="content-text">Sell on Market</a>
            </div>
        </div>
    </div>
    <div class="footer-element">
        <div>
            <span class="font-bold">Account</span>
            <div id="links" class="element-content">
                <a href="user.html" class="content-text">Your account</a>
                <a href="article-careers.html" class="content-text">Returns Centre</a>
                <a href="article-careers.html" class="content-text whitespace-normal">100% purchase <br> protection</a>
                <a href="mailto:info@g2babies.com" class="content-text">Contact us</a>
                <a href="article-careers.html" class="content-text">Help</a>
            </div>
        </div>
    </div>
</footer>