    <a href="javascript:void(0)" class="close-button" onclick="closeNav()">&times;</a>
    <div class="sidenav-element-title">
        <a href="../auth/login.html"> Sign in </a>
    </div>
    <div class="sidenav-element-title">
        Contact Us
    </div>
    <!-- Mail -->
    <div class="sidenav-element">
        <div>info@g2babies.com</div>
        <!-- Mail Normal -->
        <svg xmlns="http://www.w3.org/2000/svg" class="normal-icon icon icon-tabler icon-tabler-mail" width="28" height="28" viewBox="0 0 24 24" stroke-width="2" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <rect x="3" y="5" width="18" height="14" rx="2" />
        <polyline points="3 7 12 13 21 7" />
        </svg>
        <!-- Mail Dark -->
        <svg xmlns="http://www.w3.org/2000/svg" class="dark-icon icon icon-tabler icon-tabler-mail" width="28" height="28" viewBox="0 0 24 24" stroke-width="2" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <rect x="3" y="5" width="18" height="14" rx="2" />
        <polyline points="3 7 12 13 21 7" />
        </svg>
    </div>

    <!-- Phone -->
    <div class="sidenav-element">
        <div> +34 666 666 666 </div>
        <!-- Phone Normal -->
        <svg xmlns="http://www.w3.org/2000/svg" class="normal-icon icon icon-tabler icon-tabler-phone-call" width="28" height="28" viewBox="0 0 24 24" stroke-width="2" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" />
        <path d="M15 7a2 2 0 0 1 2 2" />
        <path d="M15 3a6 6 0 0 1 6 6" />
        </svg>

        <!-- Phone Dark -->
        <svg xmlns="http://www.w3.org/2000/svg" class="dark-icon icon icon-tabler icon-tabler-phone-call" width="28" height="28" viewBox="0 0 24 24" stroke-width="2" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" />
        <path d="M15 7a2 2 0 0 1 2 2" />
        <path d="M15 3a6 6 0 0 1 6 6" />
        </svg>
    </div>
    <div class="sidenav-element-title">
        Categories
    </div>
    <!-- For de ruby para cada categoria 
    await $.getJSON("./json/categories.json", function(json){
        Object.entries(json.categories).forEach((entry) => {
            const [key, value] = entry
            htmlContents += `
            <div class="sidenav-element" 
            onclick='toggleSideBarCategory("${key}")' 
            >
                <div> ${value.name} </div>` +
                loadSideBarIcons() +
            `</div>
            <div class="sidenav-subcategory-container" style="display: none;" id="sideBarCat${key}">`
            Object.entries(value.subcategories).forEach((entry) => {
                const [key,value] = entry
                htmlContents += `<a class="sidenav-subcategory-element" href="../category/category.html?name=${value}">${value}</a>`
            })
            htmlContents += `</div>`;
            
        })
    })-->
    <div><br><br><br><br><br><br><br><br> </div>
}

<script>
    const loadSideBarIcons = function() {
        return `<!-- Normal + -->
        <svg xmlns="http://www.w3.org/2000/svg" class="normal-icon" width="28" height="28" viewBox="0 0 24 24" stroke-width="2" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <line x1="12" y1="5" x2="12" y2="19" />
        <line x1="5" y1="12" x2="19" y2="12" />
        </svg>
        <!-- Dark + -->
        <svg xmlns="http://www.w3.org/2000/svg" class="dark-icon" width="28" height="28" viewBox="0 0 24 24" stroke-width="2" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <line x1="12" y1="5" x2="12" y2="19" />
        <line x1="5" y1="12" x2="19" y2="12" />
        </svg>`
    }

    const toggleSideBarCategory = function(key) {
        if(document.getElementById("sideBarCat"+key).style.display=="none"){
            document.getElementById("sideBarCat"+key).style.display="flex";
        } else {
            document.getElementById("sideBarCat"+key).style.display="none";
        }
        
    };
</script>